<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/font-awesome/css/regular.css" rel="stylesheet" />
    <link href="~/font-awesome/css/solid.css" rel="stylesheet" />
</head>
<body>
    <img src="~/Source/office-desk-computer-light.jpg" class="bg" alt="" />

    <div class="container-fluid h-100 p-1 p-lg-5 m-1 m-lg-1">
        <div>
            @RenderBody()
        </div>
    </div>

    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

</body>
</html>
