<div id="Login" class="p-5 col-12 col-lg-5 align-content-center justify-content-center divback d-block">
    <div class="row align-content-center justify-content-center">
        <div class="col-11 col-lg-6 d-flex align-content-center justify-content-center">
            @*<i class="fa fa-user"></i>*@
            <img class="imgLogo" src="~/Source/user.png" />
        </div>
    </div>
    <div class="row m-2 d-flex align-content-center justify-content-center">
        <div class="col d-flex align-content-center justify-content-center">
            <h2 class="text-white">WEB APLICATION</h2>
        </div>
    </div>

    <div class="row mt-2 align-content-center justify-content-center">
        <div class="col-11">
            <div class="input-group mb-3 input-group-sm justify-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent text-white"><i class="fas fa-user-circle"></i></span>
                </div>
                <input id="txtLogin" type="text" placeholder="LOGIN" class="form-control bg-transparent text-white">
            </div>
        </div>
    </div>
    <div class="row mt-2 align-content-center justify-content-center">
        <div class="col-11">
            <div class="input-group mb-3 input-group-sm justify-content-center">
                <div class="input-group-append">
                    <span id="revelaPass" class="input-group-text bg-transparent text-white"><i id="icRevPass" class="fas fa-eye"></i></span>
                </div>
                <input id="txtPass" type="password" placeholder="SENHA" class="form-control bg-transparent text-white">
            </div>
        </div>
    </div>
    <div class="row mt-2 align-content-center justify-content-center">
        <div class="col-11 col-lg-4 d-flex align-content-center justify-content-center">
            <button type="button" onclick="Logar()" class="btn-primary w-50">Login</button>
        </div>
    </div>
    <div class="row mt-2 align-content-center justify-content-center">
        <div class="col-11 col-lg-4 d-flex align-content-center justify-content-center">
            <button id="BtnCadastro" type="button" class="btn-warning w-50">Cadastrar</button>
        </div>
    </div>

</div>
